.container-aboutme {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 14px 10px;
    gap: 10px;
}

.card-left-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.card-right-about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


.sobremim {
    font-family: "Concert One", sans-serif;
    padding: 14px;
}

h3 {
    font-size: 34px;
    font-weight: bold;
}

.sobremim p {
    font-size: 20px;
    font-family: "Concert One", sans-serif;
}

