.container-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center
}

.container-back, .container-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}