@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bungee+Tint&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 9999px;
  box-shadow: 0 0 5px #22c55e88;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e transparent;
}

* {
  scrollbar-track-color: transparent;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@keyframes waterWave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-water-wave {
  animation: waterWave 2.5s ease-in-out infinite;
  background-size: 200% 100%;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}

