/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
  --color-primary: #2b818c;
  --color-secondary: #ffc026;
  --color-background: #ffffff;
}
